body {
  font-family: "Cormorant", serif;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: #e4efef;
  color: #224d4d;
  font-weight: 200;
}

.bmh_link {
  text-decoration: none;
  text-decoration: underline;
  color: #224d4d;
}

.innmat {
  padding: 2rem;
  margin: 5rem;
  height: 70%;
  width: 80%;
  background-color: #fafefe;
}

.metodeBilder {
  width: 60%;
  padding-top: 2rem;
  margin: 0 auto;
}

.prosjekt_arbeid {
  width: 90%;
  padding-top: 2rem;
  margin: 0 auto;
}

.farger {
  width: 70%;
  padding-top: 2rem;
  margin: 0 auto;
}

.metode {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.metode p {
  text-align: left;
  padding: 1rem;
}

.beskrivelse {
  margin: 4rem;
}

.tekst {
  padding: 5rem;
  line-height: 2rem;
}

.title {
  text-align: center;
}

.top-btn {
  display: flex;
  justify-content: flex-end;
}
.tilToppen {
  text-align: end;
  text-decoration: none;
  padding: 1rem;
  background: #739296;
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.tilToppen:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #739296;
}

.tilbake {
  color: #739296;
  text-decoration: none;
  transition: 0.5s;
}

.tilbake:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .innmat {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .beskrivelse {
    margin: 0;
    padding: 1rem;
  }
  .top-btn {
    padding: 1rem;
  }
  .utforskTur {
    width: 100%;
    padding: 0;
  }
  .regional {
    width: 100%;
    padding: 0;
  }
  .landingpage {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
