.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86%;
  float: right;
}

body {
  font-family: "Cormorant", serif;
  background-color: #e4efef;
  color: #224d4d;
}

p,
a,
li {
  font-size: 18px;
  font-family: "Cormorant", serif;
}
li {
  padding: 4px;
}

.student {
  font-style: normal;
  font-weight: normal;
}

.side-navbar {
  display: flex;
  justify-content: center;
  height: 96vh;
  margin: 1rem;
  border-radius: 8px;
  width: 200px;
  background-color: #fafefe;
  position: absolute;
  top: 0;
  text-align: center;
}

.navbar-container {
  display: flex;
  height: 50%;
  margin: 2rem 0rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-link {
  color: #0c3131;
  padding: 1rem;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #e4efef;
}

.TL-logo {
  text-decoration: none;
  color: #fafefe;
  background-color: #739296;
  padding: 1.5rem;

  border-radius: 18px;
}

.linkedin {
  color: #0c3131;
  padding: 1rem;
  text-decoration: none;
}
.linkedin:hover {
  text-decoration: underline;
}

.mine-prosjekter {
  display: flex;
  flex-direction: column;
  width: 86%;
  margin: auto;
  float: right;
}

.projekt-titel {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.om-meg-container {
  display: flex;
  flex-direction: column;
  width: 86%;
  margin: auto;
  float: right;
  text-align: center;
  padding: 1rem 0rem;
}

.om-meg-img {
  margin: 1rem;
  max-height: 230px;
  max-width: 180px;
}

.om-meg-tekst {
  width: 850px;
  margin-bottom: 1rem;
}

.om-meg-content {
  display: flex;
  flex-direction: column;
  width: 86%;
  float: right;
  align-items: center;
  padding: 1rem 0rem;
}
.cv-liste {
  display: flex;
  justify-content: center;
  text-align: start;
}

.cv-liste-item {
  flex-direction: column;
  margin: 0rem 5.2rem;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.indigo {
  display: flex;
  flex-direction: column;
  background-color: #fafefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  align-items: center;
  margin: 2rem;
}

.indigoLogo {
  width: 30%;
  padding: 1.5rem;
  align-self: flex-start;
}

.indigoKnapp {
  line-height: 4;
  color: #739296;
}

.indigoTitle {
  display: flex;
}

.iTekstogBeskrivelse {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1.5rem;
}

.bergtatt {
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  align-items: center;
  float: right;
  margin: 2rem;
  background-color: #fafefe;
  /* background: url(bakgrunn.png); */
  /* background-size: cover; */
}
.TittelTekst {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1.5rem;
}

.bergTitle {
  display: flex;
}

.bergtattLogo {
  width: 25%;
  padding: 2rem;
  align-self: flex-start;
}

.bergtattKnapp {
  line-height: 4;
  color: #739296;
}

.tittel {
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bilde {
  width: 15%;
  height: 15%;
  padding: 1rem;
}

.burger-menu {
  display: none;
}
.burger-menu-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.burger-menu-item {
  text-decoration: underline;
  padding: 1rem;
}
.burger-menu-item a {
  color: #224d4d;
  text-decoration: none;
}

.burger-TL {
  background-color: #739296;
  padding: 1rem;
  border-radius: 18px;
  text-decoration: none;
}

.burger-TL a {
  text-decoration: none;
  color: #fafefe;
}

.cv-ul {
  list-style: none;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.cv-ul li:before {
  content: "\2192 \0020";
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
  }

  .tittel {
    justify-content: flex-start;
    padding-top: 100px;
  }
  .content {
    flex-direction: column;
    padding: 1rem;
  }
  .side-navbar {
    display: none;
  }
  .burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .mine-prosjekter {
    width: 100%;
  }
  .om-meg-container {
    width: 100%;
  }
  .om-meg-content {
    width: 100%;
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .om-meg-img {
    max-height: 200px;
    max-width: 170px;
  }

  .om-meg-tekst {
    width: 100%;
    margin-bottom: 1rem;
  }

  .cv-liste {
    flex-direction: column;
  }
  .cv-liste-item {
    margin: 0;
  }
  .cv-ul {
    margin: 0px;
    padding: 0px;
  }

  .bilde {
    width: 50%;
  }
  .indigo {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .indigoTitle {
    flex-direction: column;
    text-align: center;
  }
  .indigoLogo {
    align-self: center;
  }
  .bergtatt {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
  .bergTitle {
    flex-direction: column;
    text-align: center;
  }
  .bergtattLogo {
    width: 30%;
    align-self: center;
    padding: 1rem;
  }
}
